@import 'variables';

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 100vh;
  width: 100%;
}

nav {
  // Example of using a variable:
  background-color: $secondary-accent-color;
}

.dog-icon {
  width: 50px;
}

img {
  border-radius: 50%; 
  border: solid #3F8CA8 2px; 
}

footer {
  background-color: #3F8CA8;
}